<html>
<head>
  <style type="text/css">
#summary, {
 background:white;
 width: 300px;
 height: 50px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 3px #ddd;
}
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.subscribemodal {
  padding: 20px;
  background-color: #f1f1f1;
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.subscribe {
  /*padding: 20px;*/
/*  background-color: #f1f1f1;
*/}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #4CAF50;
  /*height: 10px;*/
  padding: 10px;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.6;
}

.topnav-right {
  float: right;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <title>coviddetectlive</title>
</head>
<body>

<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    </div>
  </div>  
</nav>
</div>
</div>
<br>


  <!-- Modal -->
  <div class="modal fade" id="corona" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title alert alert-danger">Corona Detected</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <button type="button" onclick="getLocation()" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        <div class="modal-body">
          <p>Automatic diagnosis system predicted that you are infected with coronavirus</p>     
        </div>
      </div>
      
    </div>
  </div>


   <!-- Modal -->
  <div class="modal fade" id="nocorona" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title alert alert-success">Corona Not Detected</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Automatic diagnosis system predicted that you are not infected with coronavirus</p>
        </div>
      </div>
      
    </div>
  </div>




  
    {% if text == 1 %}
    <script type="text/javascript">$("#corona").modal('show');</script>
    {% elif text == 0 %}
    <script type="text/javascript">$("#nocorona").modal('show');</script>
    {% endif %}




<br> <br>







<div class="container" id="detector"style="padding-top:70px;padding-bottom:0px">
  <h4>COVID-19 Detection based on symptoms </h4>
  <p>This is automated diagnosis system which predicts if you are infected from coronavirus or not based on symptoms you provide on the form below</p>

  <!-- Button to Open the Modal 
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Begin self-diagnosis
  </button>-->


    <!-- The Modal 
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"> -->


  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Begin Self Diagnosis</button>
  <br><br>
  <!--<div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>-->

<div id="demo" class="collapse">

<div class="container">
  <div class="card">
  <div class="card-header">
  <h2>Please enter the following details:</h2>
  </div>
  <div class="card-body">
 <!--    {% if text == 1 %}
    <div class="alert alert-danger" role="alert" id="words">Corona Detected</div>
    {% else %}
    <div class="alert alert-success" role = "alert" id= "words">No Corona</div>
    {% endif %}
  --> <form class = "form" method="post" enctype="multipart/form-data" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="form-group">
    <div class="container-fluid">
              <div class="row">
                <div class="col">AGE:<input type="text" id="age" name="age" required></div>
                <div class="col">
                  GENDER:<input type="radio" id="yes" name="sex" value=1 checked>
                  <label for="Yes">Male</label>
                  <input type="radio" id="no" name="sex" value=0>
                  <label for="No">Female</label>
                </div>
              </div>
              <br />
        <div class="col">
                <div class="col"><p class="alert alert-info">Please select YES to the symptoms you have and NO to the ones you dont.</p></div>
        </div>
        <div class="row">
                <div class="col"><strong> FEVER: </strong>
                <input type="radio" id="yes" name="fever" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="fever" value=0>
                <label for="No">No</label> </div>
              <div class="col"><b>COUGH:</b>
              <input type="radio" id="yes" name="cough" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="cough" value=0>
                <label for="No">No</label><br></div>
              <div class="col"><b>FATIGUE:</b>
              <input type="radio" id="yes" name="fatigue" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="fatigue" value=0>
                <label for="No">No</label></div>
          </div>    
          <div class="row">
              <div class="col"><b>ABDOMINAL PAIN:</b>
              <input type="radio" id="yes" name="abdominalPain" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="abdominalPain" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>DIARRHOEA:</b>
              <input type="radio" id="yes" name="diarrhea" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="diarrhea" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>MALAISE:</b>
              <input type="radio" id="yes" name="malaise" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="malaise" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">
              <div class="col"><b>PNEUMONIA:</b>
              <input type="radio" id="yes" name="pneumonia" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="pneumonia" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>ACHING MUSCLES:</b>
              <input type="radio" id="yes" name="achingMuscles" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="achingMuscles" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>ANOREXIA:</b>
              <input type="radio" id="yes" name="anorexia" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="anorexia" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">
              <div class="col"><b>ASYMPTOMATIC:</b>
              <input type="radio" id="yes" name="asymptomatic" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="asymptomatic" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>CHEST DISCOMFORT:</b>
              <input type="radio" id="yes" name="chestDiscomfort" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="chestDiscomfort" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>DYSPNEA:</b>
              <input type="radio" id="yes" name="dyspnea" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="dyspnea" value=0>
                <label for="No">No</label></div>
          </div> 
          <div class="row">   
              <div class="col"><b>NAUSEA:</b>
              <input type="radio" id="yes" name="nausea" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="nausea" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>VOMITTING:</b>
              <input type="radio" id="yes" name="vomitting" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="vomitting" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>CHILLS:</b>
              <input type="radio" id="yes" name="chills" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="chills" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">
              <div class="col"><b>CONJUNCTIVITIS:</b>
              <input type="radio" id="yes" name="conjuctivitis" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="conjuctivitis" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>JOINT PAIN:</b>
              <input type="radio" id="yes" name="jointPain" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="jointPain" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>HEADACHE:</b>
              <input type="radio" id="yes" name="headache" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="headache" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">    
              <div class="col"><b>WEAKNESS:</b>
              <input type="radio" id="yes" name="weakness" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="weakness" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>SORE THROAT:</b>
              <input type="radio" id="yes" name="soreThroat" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="soreThroat" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>SNEEZING:</b>
              <input type="radio" id="yes" name="sneezing" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="sneezing" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">    
              <div class="col"><b>RHINORRHEA:</b>
              <input type="radio" id="yes" name="rhinorrhea" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="rhinorrhea" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>DIZZINESS:</b>
              <input type="radio" id="yes" name="dizziness" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="dizziness" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>RUNNY NOSE:</b>
              <input type="radio" id="yes" name="runnyNose" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="runnyNose" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">    
              <div class="col"><b>WALKING DIFFICULTY:</b>
              <input type="radio" id="yes" name="difficultyWalking" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="difficultyWalking" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>SPUTUM:</b>
              <input type="radio" id="yes" name="sputum" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="sputum" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>PNEUMOTITIS:</b>
              <input type="radio" id="yes" name="pneumonitis" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="pneumonitis" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">    
              <div class="col"><b>PHYSICAL DISCOMFORT:</b>
              <input type="radio" id="yes" name="physicalDiscomfort" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="physicalDiscomfort" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>TOOTHACHE:</b>
              <input type="radio" id="yes" name="toothache" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="toothache" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>WHEEZING:</b>
              <input type="radio" id="yes" name="wheezing" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="wheezing" value=0>
                <label for="No">No</label></div>
          </div>
          <div class="row">
              <div class="col"><b>DRY MOUTH:</b>
              <input type="radio" id="yes" name="dryMouth" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="dryMouth" value=0>
                <label for="No">No</label></div>
              
              <div class="col"><b>SWEATING:</b>
              <input type="radio" id="yes" name="sweating" value=1 checked>
                <label for="Yes">Yes</label>
                <input type="radio" id="no" name="sweating" value=0>
                <label for="No">No</label></div>
              <div class="col"> </div>
          </div>
          <div class="row">
              <div class="col"> </div>
              <div class="col"><div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-block" type="submit">Enter</button>
              </div></div>
              <div class="col"></div>
          </div>


        </div>
    </div>
  </form>
  </div>
</div>
</div>

</div>
</div>
</body>
</html>