<div id="hospitals">
  <h2>Nearby Hospitals</h2>
  <p>
    Below are listed the hospitals where you may get tested for covid-19 in
    Nepal
  </p>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Hosital Name</th>
        <th>Open Hours</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sukraraj Tropical And Infectious Disease Hospital</td>
        <td>
          8 AM - 3 PM<br />
          Sunday - Friday
        </td>
        <td>01-4253395 , 01-4253396</td>
      </tr>
      <tr>
        <td>Patan Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>01-5522295</td>
      </tr>
      <tr>
        <td>Nepal APF Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>01-4315224</td>
      </tr>
      <tr>
        <td>Bir Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>01-4221119</td>
      </tr>
      <tr>
        <td>National Ayurveda Research and Training Center</td>
        <td>
          10 AM - 3 PM<br />
          Sunday - Friday
        </td>
        <td>01-4334973</td>
      </tr>
      <tr>
        <td>Birendra Sainik Hospital</td>
        <td>
          8 AM - 5 PM<br />
          Sunday - Friday
        </td>
        <td>01-4271940</td>
      </tr>
      <tr>
        <td>Mechi Zonal Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>023-520172</td>
      </tr>
      <tr>
        <td>Udayapur District Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>035-420187</td>
      </tr>
      <tr>
        <td>Janakpur Zonal Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>041-520133 , 041-520033</td>
      </tr>
      <tr>
        <td>Bhaktapur Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>01-6610798</td>
      </tr>
      <tr>
        <td>Sindhuli Hospital</td>
        <td>
          6 AM to 9 PM<br />
          Sunday - Saturday
        </td>
        <td>047-520973</td>
      </tr>
      <tr>
        <td>Dhaulagiri Zonal Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>9851176425 , 068-520188</td>
      </tr>
      <tr>
        <td>Gorkha District Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>064-420208</td>
      </tr>
      <tr>
        <td>Lumbini Zonal Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>071-541400</td>
      </tr>
      <tr>
        <td>Tamghas Hospital</td>
        <td>
          10 AM - 4 PM<br />
          Sunday - Friday
        </td>
        <td>079-520188</td>
      </tr>
      <tr>
        <td>Surkhet District Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>083-525417</td>
      </tr>
      <tr>
        <td>Dailekh District Hospital</td>
        <td>
          8 AM - 8 PM<br />
          Sunday - Saturday
        </td>
        <td>089-410185</td>
      </tr>
      <tr>
        <td>Seti Zonal Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>9841943586</td>
      </tr>
      <tr>
        <td>Mahakalli Hospital</td>
        <td>
          24 hours<br />
          Sunday - Saturday
        </td>
        <td>9843247009 , 099-521111</td>
      </tr>
    </tbody>
  </table>
</div>
